# Explore data in pandas
## Create client

In [1]:
from rapi import Client

cl = Client()

## Get schedule

In [2]:
show="2226c3be-7f0d-3c82-af47-0ec6abe992a8"
station="4082f63f-30e8-375d-a326-b32cf7d86e02"
since="2023_09-01"
till="2023_10-01"

In [3]:
data = list(cl.get_schedule(show,station,since,till))
import pandas as pd

pdata=pd.DataFrame(data)

## Show columns in dataframe

In [4]:
pdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uuid           147 non-null    object
 1   title          147 non-null    object
 2   description    147 non-null    object
 3   station        147 non-null    object
 4   station_code   147 non-null    int64
 5   show_priority  147 non-null    int64
 6   show_times     0 non-null      object
 7   since          147 non-null    datetime64[ns, tzoffset(None, 7200)]
 8   till           147 non-null    datetime64[ns, tzoffset(None, 7200)]
dtypes: datetime64[ns, tzoffset(None, 7200)](2), int64(2), object(5)
memory usage: 10.5+ KB

## Select columns, (subset dataframe)

In [5]:
sdata=(pdata[['title','since']])
print(sdata)

                                                 title  \
0    Je 1. září a ve školách by už mělo být všechno...
1    Některá města od září zdražila hromadnou dopravou
2    Do Řecka už dorazila další skupina zhruba pade...
3        Prezident Petr Pavel podepsal penzijní novelu
4    Devět tříd ze 4. základní školy v Plzni zahájí...
..                                                 ...
142  Policisté v Moravskoslezském kraji zpřísnili n...
143  Stovky Slováků dnes odjely z Prahy mimořádným ...
144  Duchové bývalých přítelkyň, náhodná svatební k...
145  Lidé s nízkým příjmem mají v Liberci problém s...
146  Přesně před osmdesáti pěty lety se svět přiblí...

                        since
0   2023-09-01 13:06:00+02:00
1   2023-09-01 14:06:00+02:00
2   2023-09-01 15:06:00+02:00
3   2023-09-01 16:06:00+02:00
4   2023-09-01 17:06:00+02:00
..                        ...
142 2023-09-29 15:06:00+02:00
143 2023-09-29 16:06:00+02:00
144 2023-09-29 17:06:00+02:00
145 2023-09-29 18:33:30+02:00
146 2023-09-29 19:06:00+02:00

[147 rows x 2 columns]

## Select columns when creating dataframe

In [6]:
data = list(cl.get_schedule(show,station,since,till))
pdata=pd.DataFrame(data,columns=['title','since'])

## Save dataframe to csv

In [7]:
output_file_path='../../../runtime/out.csv'
pdata.to_csv(output_file_path)